
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext');

.page {
    font-family: 'Montserrat';
    min-height: 100vh;
    min-width: 100vw;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    background-image: linear-gradient(to bottom right, #6EDBC4, #F4EFC2);
}

body {
    color: green;
    height: 200px;
}

.logo-container {
    position: relative;
    float: right;
    padding-right: 80px;
    padding-top: 30px;
}

#music-metric-logo {
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.login-button-container {
    position: fixed;
    top: 60%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.login-button-container :hover {
    border-width: 2px;
    border-color: #2BE26D;
    border-style: solid;
    background-color: #2BE26D;
    font-size: 14px;
}

.login-button {
    background-color: #1BD760;
    color: white;
    border-radius: 30px;
    border-width: 0px;
    padding: 15px 30px;
    font-size: 13px;
}

.get-playlists-button-container {
    position: fixed;
    top: 92%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.get-playlists-button {
    background-color: black;
    color: white;
    border-radius: 30px;
    border-width: 0px;
    padding: 15px 30px;
    font-size: 15px;
}

.get-playlists-button-container :hover {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: black;
    font-size: 16px;
    color: white;
}

.main-font-container {
    position: fixed;
    top: 45%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    color: white;
    font-size: 90px;
    font-weight: bold;
}

.list-of-playlists {
    background-color: #F1D6E8;
    opacity: 1;
    position: fixed;
    top: 5%;
    left: 15%;
    height: 800px;
    width: 450px;
    transform: translate(-50%);
    margin-left: 10px;
    padding-left: 20px;
}

.playlist-energy-graph {
    padding-left: 600px;
    padding-right: 100px;
    padding-top: 150px;
}

#my-playlists-header {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.playlist-element {
    color: #3E3E3E;
    font-size: 20px;
}

#playlists {
    height: 75%;
    overflow-y:auto;
}

#playlists :hover {
    color: blue;
}

#graph-name {
    color: blue;
    padding-left: 20px;
    font-size: 20px;
}

li {
    list-style-type: none;
}

button {
    font-family: Montserrat;
}