
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext');

.main-wrapper {
    min-height: 100vh;
}

body {
    margin: 0;
}

#my-playlists-header {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

#playlists {
    height: 60vh;
    overflow-y:auto;
}